.todo-list {
  text-align: left;


  .todo-completed {
    background-color: $alert-success-bg;

    &:hover {
      background-color: $alert-success-bg !important;
    }
  }

  .list-group-item {

    .todo-description {
      line-height: inherit;
      @media (min-width: $screen-sm-min) {
        line-height: 35px;
      }
    }

    &:hover {
      cursor: pointer;
      background-color: $dropdown-link-hover-bg;
    }
  }
}